h1{
    color: #111111;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
}

body{
    background-color: #333333;
    color: aqua;
}

a{
    background-color: #666666;
    color: aqua;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;
}